@using (Html.BeginForm())
{
    <div class="row" style="padding-top:10px">
        <div class="col-lg-12">
            @Html.ActionLink("Product Registration", "RegisterProduct", "ProductRegistration")
        </div>
    </div>
    <div class="row">
        <hr>
        <div class="col-lg-12">
            <button type="button" class="btn btn-default">Institution Registration</button>
         </div>
     </div>
}