<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="LogError" xsi:type="AsyncWrapper" overflowAction="Grow" queueLimit="1000000" batchSize="100" timeToSleepBetweenBatches="50">
      <target name="logfile"
          xsi:type="File"
          layout="[${date:format=yyyy-MM-dd HH.mm.ss}]&#9;[${threadid:padding=4}]&#9;[${level:padding=5}]&#9;${message:exceptionSeparator= :withException=true}"
          fileName="${basedir}/Logs/IntegrationServiceBLLError.log"
          archiveFileName="${basedir}/Logs/IntegrationServiceBLLError.{#####}.old.log"
          archiveAboveSize="5242880"
          archiveNumbering="DateAndSequence"
          archiveDateFormat="yyyyMMdd"
          maxArchiveFiles="2" />
    </target>
    <target name="LogInfo" xsi:type="AsyncWrapper" overflowAction="Block" queueLimit="1000000" batchSize="100" timeToSleepBetweenBatches="50">
      <target name="infologfile"
          xsi:type="File"
          layout="[${date:format=yyyy-MM-dd HH.mm.ss.fff}]&#9;[${threadid:padding=4}]&#9;[${level:padding=5}]&#9;${message}"
          fileName="${basedir}/Logs/IntegrationServiceBLLInfo.log"
          archiveFileName="${basedir}/Logs/IntegrationServiceBLLInfo.{#####}.old.log"
          archiveAboveSize="5242880"
          archiveNumbering="DateAndSequence"
		  archiveDateFormat="yyyyMMdd"
          maxArchiveFiles="2" />
    </target>

    <target name="eventLog"
			xsi:type="EventLog"
			layout="[${date:format=yyyy-MM-dd HH.mm.ss}] ${newline} ${message:exceptionSeparator=\r\n:withException=true}"
			eventId="100"
			source="Cbis.BLL"  />
  </targets>

  <rules>
    <logger name="*" levels="Trace,Debug,Info" writeTo="LogInfo" />
    <logger name="*" levels="Warn,Error" writeTo="LogError" />
    <logger name="*" levels="Error" writeTo="eventLog" />
  </rules>
</nlog>